<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="seacrhbrand" frontName="seacrhbrand">
            <module name="Zehntech_HomeProducts" />
        </route>
        <route id="zipdata" frontName="zipdata">
        	<module name="Zehntech_HomeProducts" />
        </route>
    </router>
</config>

