<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="WeltPixel\OwlCarouselSlider\Controller\Adminhtml\Slider\Save" type="Zehntech\WeltPixel\Controller\Adminhtml\Slider\Save" />
    <preference for="WeltPixel\OwlCarouselSlider\Block\Adminhtml\Slider\Edit\Tab\Form" type="Zehntech\WeltPixel\Block\Adminhtml\Slider\Edit\Tab\Form" />
</config>
