<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\ResourceModel\Product\Collection">
        <plugin name="beforeproductCollectionPlugin" type="Zehntech\CustomerProducts\Plugin\CollectionPlugin" />
    </type>

    <preference for="Ibnab\MegaMenu\Block\Html\Topmega" type="Zehntech\CustomerProducts\Block\ChangeTopmega"/>
    
</config>